<!DOCTYPE html>
<html>
<head>
  <title>
    {% if page.title %}
      {{ page.title }} - jeremy
    {% else if site.categories.index.first.title %}
      {{ site.categories.index.first.title }} - jeremy
	{% else %}
      {{ 包工头的理想 }} - jeremy
    {% endif %}
  </title>
  <link rel="alternate" title="jeremy" type="application/rss+xml" href="{{site.url}}/atom.xml" />
  <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/tomorrow_night.css" />
  <script type="text/javascript" src="/javascript/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
  <div class="content">
    {% include header.html %}
  </div>
  {{ content }}
  {% include ga.html %}
  </body>
</html>
